<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>编辑商品</title>
<!-- Path to Framework7 Library CSS-->
<link rel="stylesheet" href="/static/css/framework7.min.css" />
</head>
<body>

	<!-- Status bar overlay for fullscreen mode-->
	<div class="statusbar-overlay"></div>
	<!-- Panels overlay-->
	<div class="panel-overlay"></div>
	<!-- Left panel with reveal effect-->
	<div class="panel panel-left panel-reveal">
		<div class="content-block">
						<div class="col-100">
					<a href="../items" class="button button-raised button-fill color-green external" >商品列表</a>	
			</div>
			<div class="col-100">
					<a href="../editItem" class="button button-raised button-fill color-green external" >添加商品</a>	
			</div>
			<div class="col-100">
					<a href="../categorys" class="button button-raised button-fill color-green external" >编辑分类</a>	
			</div>
			<div class="col-100">
					<a href="../logout" class="button button-raised button-fill color-green external" >登出</a>	
			</div>
		</div>
	</div>
	<div class="views">

		<!-- Your main view, should have "view-main" class-->
		<div class="view view-main">

			<div class="">
				<div class="row">
					<div class="col-10">
						<a href="#" data-panel="left" class="button open-panel">导航</a>
					</div>
				</div>


				<form method="post" enctype="multipart/form-data"  id="item"
					action="../editItem/">
					{% csrf_token %}
					<div class="page-content">
						<div class="list-block">
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title label">商品名</div>
										<div class="item-input">
											<input type="text" placeholder="商品名" name="iname"  id="iname" />
										</div>
									</div>
								</div>
							</li>
							<div class="page-content">
								<div class="list-block">
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title label">价格</div>
												<div class="item-input">
													<input type="text" placeholder="商品单价" name="iprice"  id="iprice"/>
												</div>
											</div>
										</div>
									</li>
									<div class="page-content">
										<div class="list-block">
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">商品类别</div>
														<div class="item-input"  id="divcid">
															<input type="text" placeholder="类别" name="cid"  id="cid"/>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">商品图片</div>
														<div class="item-input">
															<input type="file" placeholder="请上传图片" name="ipic"  id="ipic" accept="image/jpeg"/>
														</div>
													</div>
												</div>
											</li>
											<div class="content-block">
												<div class="row">
													<div class="col-100">
														<input type="submit" value="保存"
															class="button button-big button-fill color-green" />
													</div>
												</div>
											</div>
										</div>
									</div>
				</form>
				<script type="text/javascript">
					var j;
					j = {{data|safe}};
				</script>
				<script type="text/javascript" src="/static/js/framework7.min.js"></script>
				<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
				<script type="text/javascript" src="/static/js/dock.js"></script>
				<script type="text/javascript" src="/static/js/editItem.js"></script>
</body>
</html>