<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>登陆</title>
<!-- Path to Framework7 Library CSS-->
<link rel="stylesheet" href="/static/css/framework7.min.css" />
</head>
<body>

	<!-- Status bar overlay for fullscreen mode-->
	<div class="statusbar-overlay"></div>
	<!-- Panels overlay-->
	<div class="panel-overlay"></div>
	<!-- Left panel with reveal effect-->
	<div class="panel panel-left panel-reveal">
		<div class="content-block">
			<p>左导航块</p>
		</div>
	</div>
	<div class="views">

		<!-- Your main view, should have "view-main" class-->
		<div class="view view-main">

			<div class="">
				<div class="row">
					<div class="col-10">
						<a href="#" data-panel="left" class="button open-panel">导航</a>
					</div>
				</div>


				<div class="page-content">
					<div class="content-block-title">商品列表</div>
					<div class="content-block">
						<div class="row" id="items">
						<a href="#" class="col-50">
							<div class="col-100">
								<img class="col-100" src="/picture/jianbing/itempic/葱花.jpg" />
																<div class="row">
									<div class="col-50">煎饼</div>
									<div class="col-50">4元</div>
								</div>
							</div>
						</a>
						<a href="#" class="col-50">
							<div class="col-100">
								<img class="col-100" src="/picture/jianbing/itempic/葱花.jpg" />
																<div class="row">
									<div class="col-50">煎饼</div>
									<div class="col-50">4元</div>
								</div>
							</div>
						</a>
						<a href="#" class="col-50">
							<div class="col-100">
								<img class="col-100" src="/picture/jianbing/itempic/葱花.jpg" />
																<div class="row">
									<div class="col-50">煎饼</div>
									<div class="col-50">4元</div>
								</div>
							</div>
						</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/js/framework7.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/dock.js"></script>
	<script type="text/javascript" src="/static/js/items.js"></script>
</body>
</html>